*{
    margin: 0;padding: 0;
    font-family: '맑은 고딕','Malgun Gothic',Gothic,sans-serif;
}

body{
    width: 960px;
    margin: 0 auto;
    background: #f6f6f6;
}


#page-wrap{
    width: 400px; margin: 0 auto;
}

/* header 정렬 */
/* 중앙 정렬 */
#main_header{
    height: 160px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    line-height: 160px;
}
#main_header>#title>h1{
    color: #2f9d27;
    font-size: 40px;
}
/* #본문 */
#content{
    overflow: hidden;
}
#td{
    padding: 10px 0; font-size: 14px;
}
#b_month{
    width: 114px;
    border: 1px solid lightgray;
    padding: 9px;
}
#gender{
    width: 395px;
    padding: 10px;
    border: 1px solid lightgray;
}
/* 가입버튼 */
#in{
    background-color: #2f9d27;
    padding: 10px 0;
    margin-top: 100px;
    font-size: 1.1em;
    text-align: center;
}
#in>a{
    color: white;
    text-decoration: none;
}
/* footer */
#main_footer{
    margin: 10px;
    font-size: 0.8em;
}
#main_footer>div{
    text-align: center;
}